[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyparsing = "*"
python-dateutil = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
coverage = "*"
pytest-subtests = "*"
pdoc3 = "*"

[requires]
python_version = "3.8"
